@import '../../styles/colors';

@media screen {
  .main-body {
    margin: 0 0 0 50px;
    padding: 5px 10px;

    h1 {
      font-size: 23px;
    }

    @media (min-width: 800px) {
      margin: 0 0 0 300px;
    }
  }
}

@media print {
  .main-body {
    width: 7.5in;
    margin: 0.5in auto;

    h1 {
      font-size: 28px;
      color: $primary;
      text-align: center;
    }

    h2 {
      font-size: 20px;
    }
  }
}