@import '../../styles/shadow';

.container {
  @include boxShadow(1);

  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto 20px auto;
  position: relative;

  .container-header {
    margin: 0;
    padding: 20px;
  }

  .container-body {
    overflow: hidden;
    padding: 0;

    .container-body-content {
      margin: 0 20px 30px 20px;
    }
  }
}