.collapsable-container {
  .container-body {
    transition: height 0.25s 0s;
    height: auto;

    -webkit-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);

    .container-body-content {
      opacity: 1;
      transition: opacity 0.25s 0.27s;
    }
  }

  &.is-collapsed {
    .container-body {
      .container-body-content {
        opacity: 0;
        transition: opacity 0s 0s;
      }
    }
  }
}