@import 'fonts';
@import 'colors';
@import 'reset';

body {
  color: $text;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media screen {
  p {
    margin: 0 0 10px 0;
  }
}

@media print {}