@import 'fonts';
@import 'colors';
@import 'reset';

@media screen {
  body {
    color: $text;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }

  p {
    margin: 0 0 10px 0;
  }
}