@import '../../styles/colors';
@import '../../styles/shadow';

@media screen {
  .page-header {
    @include boxShadow(1);

    background-color: $primary;
    color: #ffffff;
    margin: 0 0 20px 0;
    padding: 20px;
  }
}
