@import '../../styles/colors';
@import '../../styles/shadow';

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  overflow: visible;

  .hamburger-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    right: 10px;

    a {
      color: $text;

      .material-icons {
        font-size: 33px;
      }
    }

    @media screen and (min-width: 800px ) {
      display: none;
    }
  }

  .backdrop {
    // Prefer opacity and visibility over display for the transition timing.
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0,0,0,0.38);
    transition: opacity 0.25s, visibility 0.25s;
  }

  .sidebar-content {
    @include boxShadow(1);

    background-color: $primary-dark;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -325px;
    width: 300px;
    padding: 10px;
    transition: left 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);

    @media screen and (min-width: 800px) {
      left: 0;
    }

    img {
      width: 150px;
      margin: 10px auto;
    }

    .hide-button {
      @include boxShadow(3);
      color: #ffffff;
      display: block;
      position: absolute;
      top: 10px;
      right: -20px;
      border-radius: 50px;
      padding: 10px 10px;
      text-align: center;
      background-color: $secondary;
      line-height: 0;

      @media screen and (min-width: 800px) {
        display: none;
      }
    }
  }

  &.is-expanded {
    .hamburger-icon {
      display: none;
    }

    .backdrop {
      opacity: 1;
      visibility: visible;
    }

    .sidebar-content {
      left: 0;
      transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    }
  }
}